window {
  background-color: --var(--window-bg-color);
  font-size: 12px;
}

.panelbutton {
  border-radius: 0px;
  background-color: var(--window-bg-color);
  padding: 0px 5px;
}

.panelbutton:active {
  background-color: rgba(255, 255, 255, 0.1);
}

.panelbutton popover contents {
  border-radius: 0px;
  background-color: var(--window-bg-color);
}

.panelbutton .menu {
  padding: 2px 0;
}

.panelbutton .menu-item,
.panelbutton .back-button {
  background-color: var(--window-bg-color);
  border: solid 0px transparent;
  padding: 6px 16px;
}

.panelbutton .menu-list {
  background-color: transparent;
  border:none;
}

.panelbutton .menu-list row {
  background-color: transparent;
  border:none;
  box-shadow: none;
}

.panelbutton .menu-list row:selected .menu-item,
.panelbutton .menu-list row:selected .back-button {
  background-color: var(--accent-bg-color);
  color: var(--accent-fg-color);
}

.panelbutton .menu-list row:selected .menu-item.disabled {
  background-color: transparent;
  color: inherit;
}

.panelbutton .menu-item.disabled {
  opacity: 0.5;
}

.panelbutton .menu-list row:has(.menu-item.disabled) {
  pointer-events: none;
}

.panelbutton .menu-list row:focus-visible {
  outline: none;
}

.panelbutton .menu-list row.has-separator-after {
  border-bottom: 1px solid alpha(currentColor, 0.2);
  margin-bottom: 4px;
  padding-bottom: 4px;
}

.panelbutton-rotated image {
  -gtk-icon-transform: rotate(90deg);
}

/* Workspace button styling */
.workspace-active {
  border-bottom: 2px solid var(--accent-bg-color);
}

.workspace-plus-disabled {
  opacity: 0.5;
  pointer-events: none;
}