panelbutton > popover > contents {
  border-radius: 0px;
}

panelbutton .menu {
  padding: 2px 0;
  min-width: 200px;
  background-color: var(--popover-bg-color);
  border: 1px solid var(--borders);
  border-radius: 0px;
  box-shadow: none;
}

panelbutton .menu-item,
panelbutton .back-button {
  padding: 6px 16px;
  background-color: var(--popover-bg-color);
}

panelbutton .menu-separator {
  margin: 4px 8px;
  background-color: var(--borders);
  min-height: 1px;
}