window {
  background-color: --var(--window-bg-color);
}

.panelbutton {
  border-radius: 0px;
  background-color: var(--window-bg-color);
}

.panelbutton:active {
  background-color: rgba(255, 255, 255, 0.1);
}

.panelbutton popover contents {
  border-radius: 0px;
  background-color: var(--window-bg-color);
}

.panelbutton .menu {
  padding: 2px 0;
  min-width: 200px;
}

.panelbutton .menu-item,
.panelbutton .back-button {
  background-color: var(--window-bg-color);
  border: solid 0px transparent;
  padding: 6px 16px;
}

.panelbutton .menu-list {
  background-color: transparent;
  border:none;
}

.panelbutton .menu-list row {
  background-color: transparent;
  border:none;
  box-shadow: none;
}

.panelbutton .menu-list row:selected .menu-item,
.panelbutton .menu-list row:selected .back-button {
  background-color: var(--accent-bg-color);
  color: var(--accent-fg-color);
}

.panelbutton .menu-list row:focus-visible {
  outline: none;
}

.panelbutton .menu-list row.has-separator-after {
  border-bottom: 1px solid alpha(currentColor, 0.2);
  margin-bottom: 4px;
  padding-bottom: 4px;
}

.panelbutton-rotated image {
  -gtk-icon-transform: rotate(90deg);
}
